@layer components {
  @scope (.b-cta-minimal) {
    :scope {
      --section-padding-y: var(--space-16);
    }

    .b-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-6);
    }

    :scope[data-align='center'] .b-inner {
      align-items: center;
      text-align: center;
    }

    .b-title {
      max-width: 48rem;
      font-size: var(--text-3xl);
      font-weight: var(--font-weight-regular);
    }

    .b-link {
      --icon-size: 1.25rem;
      display: inline-flex;
      align-items: center;
      gap: var(--space-2);
      min-height: 2.75rem;
      font-size: var(--text-lg);
      font-weight: var(--font-weight-bold);
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
    }

    .b-link .icon {
      transition: translate var(--transition-fast);
    }

    .b-link:hover .icon {
      translate: var(--space-1) 0;
    }

    @media (min-width: 1024px) {
      :scope[data-align='left'] .b-inner {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        gap: var(--space-12);
      }
    }
  }
}
